<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1> <!--This is bad syntax-->
            <h2>Tasks</h2>
            <table>
                <thead>
                  <tr>
                      <th>Task</th>
                      <th>Due Date</th>
                  </tr>
              </thead>
              {% for subject in todoitem.items.all %}
              <tr>
                  <td>{{ subject.task }}</a></td>
                  <td>{{subject.due_date}}</td>
                  
              </tr>
              {%endfor%}
    </main>   
</body>
</html>